* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  background-color: #fff;
}

section {
  padding: 150px 0 60px 0;
}

li {
  list-style: none;
}

p {
  color: rgba(153, 153, 153, 0.8078431373);
  font-weight: 400;
}

nav {
  width: 100%;
  height: 80px;
  color: #000;
  font-size: 15px;
  font-weight: 600;
  letter-spacing: 0.6px;
  text-transform: uppercase;
  position: sticky;
  top: 0;
}

.kurcaNav ul li a:hover {
  color: #F57A71;
}

footer {
  width: 100%;
  height: 30vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.midea ul {
  display: flex;
  align-items: center;
  justify-content: center;
}
.midea ul li {
  list-style: none;
  margin: 10px;
  width: 40px;
  height: 40px;
  border: 1px solid #a7a8ab;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.6s;
}
.midea ul li a {
  color: #a7a8ab;
  transition: all 0.6s;
}
.midea ul li:hover {
  border: 1px solid #3F8EFC;
}
.midea ul li:hover a {
  color: #3F8EFC;
}

.policy ul {
  display: flex;
  align-items: center;
  justify-content: center;
}
.policy ul li {
  color: #a7a8ab;
  padding: 0 30px;
  font-weight: 500;
}
.policy ul .priva {
  border-left: 1px solid #a7a8ab;
  border-right: 1px solid #a7a8ab;
}

.landing p {
  color: #a7a8ab;
  text-align: center;
}
.landing p a {
  color: #a7a8ab;
}

#home {
  background-color: #DBE8FF;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.awes h6 {
  color: #3F8EFC;
  letter-spacing: 6px;
}
.awes h1 {
  font-weight: 500;
  line-height: 1.3;
}
.awes p {
  color: rgba(0, 0, 0, 0.5);
  font-size: 17px;
}

.e-inp {
  width: 100%;
  height: 55px;
  padding: 0 4px;
  border-radius: 30px;
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
}
.e-inp input {
  border: 0;
  background-color: transparent;
}

.subBtn {
  width: 55%;
  height: 80%;
  color: #fff;
  background-color: #3F8EFC;
  text-align: center;
  text-transform: uppercase;
  font-weight: 500;
  border: 0;
  border-radius: 30px;
  transition: all 0.5s;
}

.subBtn:hover {
  transform: translate(0px, -6px);
}

#features {
  background-color: #FFFFFF;
  padding: 80px 0;
}

.i-circel {
  width: 64px;
  height: 64px;
  border-radius: 50%;
  background-color: #DBE8FF;
  color: #3F8EFC;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
}

#videoSection {
  background-image: url(/images/bg-cta01.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  position: relative;
}

.conta {
  position: relative;
  z-index: 33;
}

.blackdiv {
  width: 100%;
  height: 100%;
  background-color: rgba(9, 9, 9, 0.6823529412);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0.9;
  z-index: 1;
}

#clint {
  background-image: url(/images/bg.jpg);
  background-size: cover;
}

.clintImg {
  position: relative;
}
.clintImg img {
  width: 90px;
  height: 90px;
  border-radius: 50%;
}

.clintLogo {
  max-width: 90px;
  max-height: 60px;
}
.clintLogo img {
  width: 100%;
  height: 100%;
  opacity: 0.3;
  transition: all 0.6s;
}

.clintLogo img:hover {
  opacity: 1;
}

.quoteIcon {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  position: absolute;
  top: 11px;
  right: -10px;
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #3F8EFC;
  font-size: 25px;
}

#pricing {
  background-color: #f0f0f0;
}

.priceCard {
  overflow: hidden;
}

.top {
  width: 160px;
  height: 70px;
  background-color: #3F8EFC;
  position: absolute;
  top: -16px;
  right: -50px;
  transform: rotate(45deg);
  border-radius: 50%;
  text-align: center;
  color: #fff;
  padding-top: 40px;
}

.qIcon {
  width: 30px;
  height: 30px;
  border-radius: 100%;
  background-color: rgba(63, 142, 252, 0.1803921569);
  display: flex;
  align-items: center;
  justify-content: center;
}

.questionDiv {
  padding: 40px;
  background-color: #f0f0f0;
  border-radius: 7px;
}

.teamProfile {
  width: 210px;
  height: 210px;
  border-radius: 50%;
  overflow: hidden;
  border: 5px solid #fff;
  margin: auto;
  outline: 1px solid rgba(0, 0, 0, 0.3);
}

#getSection {
  background-image: url(/images/bg-cta02.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  position: relative;
}/*# sourceMappingURL=style.css.map */