// text colors
$textColorOne: #3F8EFC;
$textColorTwo: #51BA63;
$textColorThree:#FBD16F;
$textColorFour: #F57A71;
$textColorFive: rgba(0,0,0, 0.5);

// background colors
$bgColorOne:#DBE8FF;
$bgColorFour:#FDE4DF;
$bgColorFive:#FFFFFF;
$bgColorSix : #f0f0f0;
$footerTextColor:#a7a8ab;